@import './base/settings';
@import './base/base';


nav {
    min-height: 100px;
    background: rgb(54, 66, 70);
    color: white;
    display: flex;
    justify-content: space-around;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
ul.nav-links li {
    padding-left: 40px;
    
}